.descrText {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}
.descrTextShow {
    font-size: small;
    white-space: normal;
}

.btnDetail {
    position: absolute;
    right: 16px;
    top: 4px;
    color: rgb(174, 174, 174);
}
.btnDetail:hover {
    cursor: pointer;
    color: gray;
}

.badnews i {
    color: rgb(85, 55, 55);
    padding: 1rem;
}

.dispoToggle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(255, 242, 224, 0.217);
    transition: 0.15s;
}
.dispoToggle:hover {
    background-color: rgba(255, 242, 224, 0.9);
}

.filterBar {
    color: rgb(165, 165, 165);
    background-color: #212529;
    width: 2.2em;
    min-height: 100%;
    font-size: 1.6em;
    padding: 0.18em;
    padding-top: 0.6em;
}

.filterBar > div {
    border: 2px solid #212529;
    width: 1.7em;
    border-radius: 50%;
    padding-left:0.3em;
    padding-bottom: 0.15em;
    line-height: 1.4em;
    transition: 0.2s;
    margin-bottom: 0.5em;
}

.filterBar > div:hover {
    border-color: rgb(194, 194, 194);
}

.filtreActif {
    color: white;
}

#hack1 {
    color: #212529;
}
#hack1:hover {
    border-color: #212529;
}
#hack1 #minmaxPopup {
    background-color: #212529;
    border: 1px solid gray;
    z-index: 2;
    position: absolute;
    font-size: 0.7em;
    top: -3.7em;
    left: 3em;
    border-radius: 0.4em;
    color: white;
    padding: 0.5em;
}
#hack1 #minmaxPopup div {
    display: flex;
    align-items: center;
}
#hack1 #minmaxPopup label {
    width: 3em;
    padding-left: 0.5em;
}
#hack1 #minmaxPopup input {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    padding-left: 0.5em;
    border: none;
    background-color:rgba(218, 218, 218, 0.9);
    border-radius: 0.3em;
    line-height: 1.3em;
    margin: 0.3em;
    width: 4em;
}
#minmaxPopup button {
    width: 100%;
    height: 1.4em;
    font-size: 1.3em;
    padding: 0;
    line-height: 1.2em;
}
#minmaxPopup button i {
    margin: 0;
    padding: 0;
}


