.descrText {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}
.descrTextShow {
    font-size: small;
    white-space: normal;
}

.btnDetail {
    position: absolute;
    right: 16px;
    top: 4px;
    color: rgb(174, 174, 174);
}
.btnDetail:hover {
    cursor: pointer;
    color: gray;
}

.badnews i {
    color: rgb(85, 55, 55);
    padding: 1rem;
}

.dispoToggle {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: rgba(255, 242, 224, 0.217);
    transition: 0.15s;
}
.dispoToggle:hover {
    background-color: rgba(255, 242, 224, 0.9);
}

.filterBar {
    background-color: black;
    min-width: 200px;
}

