
<div class="row">

  <!-- SIDEBAR : FILTRES -->
  <div class="filterBar flex-shrink-0 d-none d-md-flex flex-column">
    <!-- FILTRES TYPE -->
    <div role="button"
    [ngClass]='{"filtreActif": filters.type.legume}'
    (click)='filters.type.legume=!filters.type.legume;getProducts(filters)'>
      <i class="fa-solid fa-carrot"></i>
    </div>
    <div role="button"
    [ngClass]='{"filtreActif": filters.type.fruit}'
    (click)='filters.type.fruit=!filters.type.fruit;getProducts(filters)'>
      <i class="fa-solid fa-lemon"></i>
    </div>
    <div role="button"
    [ngClass]='{"filtreActif": filters.type.autre}'
    (click)='filters.type.autre=!filters.type.autre;getProducts(filters)'>
      <i class="fa-solid fa-guitar" style="position: relative; left: -2px"></i>
    </div>
    <!-- FILTRE PRIX -->
    <div class="hid-container" style="position: relative">
      <div role="button"
      [ngClass]='{"filtreActif": filters.prix.min!=0||filters.prix.max!=0}'
      (click)='priceFilter.classList.toggle("hidd")'>
        <i class="fa-solid fa-euro-sign"></i>
      </div>

      <div #priceFilter class="hid-element hidd" id="minmaxPopup">
        <form #priceForm="ngForm"
        (ngSubmit)="getPriceRange(priceForm);priceFilter.classList.add('hidd')"
        class="shadow">
          <div>
            <label for="#priceFilterMin">Min</label>
            <input type="number" id="priceFilterMin"
            ngModel="{{filters.prix.min}}" name="min"
            step="0.5" min="0" max="20">
          </div>
          <div>
            <label for="#priceFilterMax">Max</label>
            <input type="number" id="priceFilterMax"
            ngModel="{{filters.prix.max}}" name="max"
            step="0.5" min="0" max="20">
          </div>
          <div>
            <button class="m-2 btn btn-secondary" type="button" 
            (click)="resetPriceForm();priceFilter.classList.add('hidd')">
              <i class="fa-solid fa-xmark"></i>
            </button>
            <button class="m-2 btn btn-primary" type="submit" for="minmaxPopup">
              <i class="fa-solid fa-check"></i>
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>

  <!-- MAIN WINDOW : LES PRODUITS -->
  <div class="row col-11 ms-2" style="align-content: flex-start;">
    <h2 class="text-center py-4" *ngIf="prods.length!=0">Les produits</h2>
    <h2 class="text-center py-4" *ngIf="prods.length==0">Il n’y a aucun produits correspondant à vos critères, navré.</h2>
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let p of prods">
      <div style="height: 12rem; position: relative">
        <img src="{{p.image}}" style="padding: 0.5em; border-radius: 1em; object-fit: cover; width: 100%; height: 100%; object-position: center;">
        <div class="dispoToggle rounded-pill px-2" (click)="switchDispo(p.id, p.dispo)" role="button">
          <span *ngIf="p.dispo"> Disponible </span>
          <span *ngIf="!p.dispo"> Épuisé </span>
        </div>
      </div>
      <div class="card-body py-0" style="position: relative;">
        <h5 class="card-title col my-0">{{p.name}}</h5>
        <p [ngClass]="!p.show? 'descrText' : 'descrTextShow'" class="mb-2 mt-1">{{p.descr}}</p>
        <p class="btnDetail" (click)="p.show = !p.show">
          <i class="fa-solid fa-square-caret-down" *ngIf="!p.show"></i>
          <i class="fa-solid fa-square-caret-up" *ngIf="p.show"></i>
        </p>
  
        <div class="d-flex py-0">
          <!-- BOUTON PRIX = AJOUTER AU PANIER -->
          <span 
          class="btn btn-primary me-auto nohidd" 
          (click)="ajouterAuPanier(p)"
          title="ajouter au panier">
            {{p.price}}€
          </span>
          <!-- BOUTON EDITION -->
          <span
          class="btn btn-secondary mx-1"
          data-bs-toggle="modal"
          data-bs-target="#editModal"
          (click)="loadProdEdit(p)">
            <i class="fa-solid fa-pen-to-square"></i>
          </span>
          <!-- BOUTON SUPPRESSION -->
          <span class="btn btn-outline-danger"
          data-bs-toggle="modal"
          data-bs-target="#suprModal"
          (click)="loadProdASupp(p)">
            <i class="fa-solid fa-trash-can"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL EDITION -->
<div class="modal" tabindex="-1" id="editModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Éditer le produit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form 
        (ngSubmit)="editProd(prodedit.id,prodED)" 
        #prodED="ngForm" 
        id="editForm" 
        *ngIf="!prodedit.edited">
          <!-- NOM -->
          <div class="form-floating mb-3">
            <input
            type="text"
            class="form-control"
            id="prodName"
            name="name"
            ngModel={{prodedit.name}}>
            <label for="prodName">Nom du Produit</label>
          </div>
          <!-- TYPE -->
          <div class="form-floating mb-3">
            <select
            class="form-select"
            id="prodType"
            style="height: 4rem"
            name="type"
            ngModel={{prodedit.type}}>
              <option value="fruit">Fruit</option>
              <option value="legume">Légume</option>
              <option value="autre">Autre</option>
            </select>
            <label for="prodType">Type de produit</label>
          </div>
          <!-- IMAGE -->
          <div class="form-floating mb-3">
            <input
            type="text"
            class="form-control"
            id="prodImageURL"
            name="image"
            ngModel={{prodedit.image}}
            (focus)="prodedit.imageShow = true"
            (input)="prodedit.image = image.value"
            #image>
            <label for="prodImageURL">URL de l’image</label>
          </div>
          <div *ngIf="prodedit.imageShow">
            <img
            src="{{prodedit.image}}"
            style="object-fit: cover; width: 50%; height: 50%; object-position: center; border-radius: 2rem"
            class="mb-3">
          </div>
          <!-- DESCRIPTION -->
          <div class="form-floating mb-3">
            <textarea
            class="form-control"
            id="prodDescription"
            style="overflow-y: hidden"
            name="descr"
            onfocusout='this.style.height = "5rem"'
            onfocus='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
            oninput='this.style.height = ""; this.style.height = this.scrollHeight + "px"'
            ngModel={{prodedit.descr}}
            #descr
            ></textarea>
            <label for="prodDescription">Description du produit</label>
          </div>
          <!-- PRIX -->
          <div class="form-floating mb-3">
            <input
            type="number"
            class="form-control"
            id="prodPrice"
            name="price"
            min="0.1" max="20" step="0.1"
            ngModel={{prodedit.price}}>
            <label for="prodPrice">Prix</label>
          </div>
        </form>
        <h4 *ngIf="prodedit.edited">Le produit {{prodedit.name}} a bien été édité</h4>
      </div>
      <div class="modal-footer" *ngIf="!prodedit.edited">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" form="editForm"  class="btn btn-primary">Sauvegarder</button>
      </div>
      <div class="modal-footer" *ngIf="prodedit.edited">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL SUPPRESSION -->
<div class="modal" tabindex="-1" id="suprModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" *ngIf="!prodasup.deleted">Supprimer le produit ?</h5> -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="text-center" *ngIf="!prodasup.deleted">Cela supprimera le produit {{prodasup.name | uppercase}}</h4>
        <h2 class="text-danger text-center" *ngIf="!prodasup.deleted">ÊTES VOUS BIEN CERTAIN ??</h2>
        <h4 class="text-center badnews" *ngIf="prodasup.deleted">
          <i class="fa-solid fa-face-frown"></i>
          Y’a plus {{prodasup.name}}
          <i class="fa-solid fa-face-frown"></i>
        </h4>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" *ngIf="prodasup.deleted">Fermer</button>
        <button type="button" class="btn btn-danger" (click)="delProduit(prodasup.id)" *ngIf="!prodasup.deleted">OUI</button>
      </div>
    </div>
  </div>
</div>

<!-- <app-alerte [message]="alerte"></app-alerte> -->