.userContainer {
    position: relative;
    margin: 16px;
}
.userContainer img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
.userContainer h4 {
    position: absolute;
    top: 12px;
    left: 0px;
    color: white;
    background-color: black;
    padding: 2px 6px;
    border-radius: 4px;
    z-index: 2;
    font-weight: 600;
}