<div class="container col-6 mt-4">
  <form [formGroup]="subForm" (ngSubmit)="register()">
    <h2 class="mb-4">Qui êtes vous ?</h2>
    <div class="form-floating mb-3" >
      <input type="email" class="form-control" id="subName" formControlName="name">
      <label for="subName" class="form-label">Nom</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="subPass1" formControlName="password" #pass>
      <label for="subPass1" class="form-label">Mot de passe</label>
    </div>
    <div class="form-floating mb-3" *ngIf="pass.value">
      <input type="password" class="form-control" id="subPass2" formControlName="password2">
      <label for="subPass2" class="form-label">Confirmer le mot de passe</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="subMail" formControlName="email">
      <label for="subMail" class="form-label">Adresse mail</label>
      <div class="">veuillez entrer une adresse valide</div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="subAvatar" formControlName="avatar" #avatar>
      <label for="subAvatar" class="form-label">URL de l’avatar</label>
    </div>
    <div *ngIf="avatar.value">
      <img
      src="{{avatar.value}}"
      style="object-fit: scale-down; width: 100%; height: 250px; object-position: center; border-radius: 2rem"
      class="mb-3">
    </div>

    <button
      [disabled]="!subForm.valid"
      class="btn btn-primary"
      type="submit"
      >S’inscrire</button>
  </form>
</div>