<!-- CONNEXION -->
<div class="user-btn hid-container" *ngIf="!user.name">
  <!-- BOUTON -->
  <div role="button" 
  class="border border-2 border-white rounded-3 py-1 text-center"
  style="width: 36px; height: 36px"
  (click)="logwin.classList.toggle('hidd')">
    <i class="fa-solid fa-user"></i>
  </div>
  <!-- FENÊTRE -->
  <div class="user-connect hid-element hidd" #logwin>
    <h4 class="text-center mb-4">Connexion</h4>
    <form #login="ngForm" (ngSubmit)="logUser(login)">
      <div class="loginput">
        <label for="userlogin">Identifiant</label>
        <input type="text" id="userlogin" name="name" ngModel>
      </div>
      <div class="loginput">
        <label for="userpwd">Mot de passe</label>
        <input type="password" id="userpwd" name="password" ngModel>
        <p class="text-danger">{{errMsg}}</p>
      </div>
      <div class="loginput">
        <button role="submit" class="btn btn-primary position-relative">
          <i class="fa-solid fa-right-to-bracket"></i>
          <p class="outip">Connexion<span class="arr-down"></span></p>
        </button>
      </div>
    </form>
    <div class="mt-auto">
      <p class="text-center text-small text-secondary">pas de compte ?</p>
      <a class="btn btn-primary w-100" href="/inscription">créer un compte</a>
    </div>
  </div>
</div>
<!-- PROFIL -->
<div class="user-btn hid-container" *ngIf="user.name">
  <!-- BOUTON PROFIL -->
  <div role="button" 
  class="border border-2 border-white rounded-3 py-1 text-center"
  style="width: 36px; height: 36px"
  (click)="profwin.classList.toggle('hidd')">
    <i class="fa-solid fa-face-laugh text-info"></i>
  </div>
  <!-- FENETRE PROFIL -->
  <div class="user-connect hid-element hidd" #profwin>
    <img src="{{user.avatar}}" alt="" 
      style="width: 100%; height: 120px; object-fit: cover; border-radius: 8px; ">
    <h3 class="mb-0">{{user.name}}</h3>
    <small class="mb-2">profil de l’utilisateur</small>
    <!-- <div class="loginput">
      <label for="changeAvat">Changer l’avatar</label>
      <input type="text" id="changeAvat">
      <button class="btn btn-secondary mt-2">save</button>
    </div> -->
    <div class="mt-auto mb-0 loginput">
      <button role="button" class="btn btn-danger position-relative"
      (click)="disconnect()">
        <i class="fa-solid fa-power-off"></i>
        <p class="outip outipatch">Se déconecter<span class="arr-down"></span></p>
      </button>
    </div>
  </div>
</div>
