div.user-btn {
    position: relative;
    color: white;
    margin-left: 8px;
    margin-right: 16px;
}

.user-connect {
    z-index: 4;
    border: 1px solid gray;
    padding: 24px 12px;
    margin-top: 18px;
    width: 200px;
    background-color: #212529;
    position: absolute;
    top: 48px;
    right: 0px;
    border-radius: 4px;
    color: white;
    transition: 0.2s;
}
.user-connect button {
    float: right;
    border: none;
}

.hidd {
    right: -250px;
}

.loginput {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 12px;
    padding: 0px 12px;
}